@keyframes videoin {
  0% {
    opacity: 0;
    transform: rotateZ(0) translateX(20em) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotateZ(15deg) translateX(0) scale(.8);
  }
}

@keyframes videoin-reverse {
  0% {
    opacity: 0;
    transform: rotateZ(0) translateX(-20em) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotateZ(-15deg) translateX(0) scale(.8);
  }
}