@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300,500,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-main);
  background-color: var(--color-background);

  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin: 0;
}

a:any-link {
  color: var(--color-links);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: .5rem;
  margin-left: 1rem;
}

:--headings {
  font-weight: var(--font-weight-medium);
  line-height: calc(var(--line-height-base)-50%);
  margin-top: 0;
  margin-bottom: 1rem;
}