.feature {
  @apply --centered;
  display: flex;

  @media (--viewport-medium) {
    flex-direction: row;
    justify-content: center;
  }

  & .feature-phone {
    transform: scale(.7);

    @media (--viewport-medium) {
      transform: rotateZ(15deg) scale(.8);
      animation: videoin-right 1s;
      animation-play-state: paused;
    }
  } /* feature-phone */

  & .feature-description {

    @media (--viewport-medium) {
      width: 35%;
    }

    & .feature-description-headline {
      font-size: calc(var(--font-size-base) * 1.5);
      color: var(--yellow);
      margin-top: 3rem;
      margin-right: 6%;
      margin-left: 6%;

      @media (--viewport-medium) {
        font-size: calc(var(--font-size-base) * 1.8);
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
      }

      @media (--viewport-large) {
        font-size: calc(var(--font-size-base) * 2.25);
      }
    }

    & .feature-description-text {
      font-size: calc(var(--font-size-base) * .8);
      line-height: calc(var(--line-height-base)-10%);
      margin-left: 6%;
      margin-right: 6%;

      @media (--viewport-medium) {
        font-size: calc(var(--font-size-base) * .9);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
      }
  
      @media (--viewport-large) {
        font-size: calc(var(--font-size-base) * 1);
        line-height: var(--line-height-base);
      }

      & p:last-child {
        margin-bottom: 0; /* override p defaults */
      }

    }
  }  /* feature-description */

  /* Modify layout for every other feature */
  &:nth-of-type(2n) {
    @media (--viewport-medium) {    
      flex-direction: row-reverse;

      & .feature-phone {
        transform: rotateZ(-15deg) scale(.8);
        animation: videoin-left 1s;
        animation-play-state: paused;
      }

      & .feature-description-headline {
        margin-left: 20%;
      }

      & .feature-description-text {
        margin-left: 20%;
      }
    }
  }

} /* feature */


/* Background Colors */

#profile.feature {
  background:
    linear-gradient(var(--red),var(--orange));
}

#history.feature {
  background:
    linear-gradient(var(--blue), color(var(--green) shade(20%)));
}

#schedule.feature {
  background:
    linear-gradient(var(--blue),color(var(--purple) shade(40%)) 50%);
}

#ask.feature {
  background:
    linear-gradient(var(--red),color(var(--purple) shade(30%)));
}

#showcase.feature {
  background:
    linear-gradient(var(--blue),var(--darkblue));
}
