.header {
  color: var(--color-main);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100vh;

  background: linear-gradient(
    color(var(--yellow) a(20%)),
   rgba(0,0,0,0) 50%,rgba(0,0,0,.8) 90%   
  ),
    url(../images/hero/appwoman.jpg) no-repeat center bottom;
    background-size: cover;

  & .header-info {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

    & .header-info-headline {
      font-size: calc(var(--font-size-base)*2.2);
      @apply --width-standard;

      @media (--viewport-small) {
        font-size: calc(var(--font-size-base)*2.5);
      }/* viewport-small */

      @media (--viewport-large) {
        font-size: calc(var(--font-size-base)*3.5);
      }/* viewport-large */
    } /* header-info-headline */

    & .header-info-subheadline {
      font-size: calc(var(--font-size-base)*1.2);
      @apply --width-standard;

      @media (--viewport-medium) {
        font-size: calc(var(--font-size-base)*1.5);
      }/* viewport-medium */

      @media (--viewport-large) {
        font-size: calc(var(--font-size-base)*1.8);
      }/* viewport-large */
    }/* header-info-subheadline */

    & .header-info-text {
      @apply --width-standard;
      display: none;

      @media (--viewport-small) {
        display: block;
        font-size: calc(var(--font-size-base)*.9);
        line-height: calc(var(--line-height-base)*.9);

        & a:any-link {
          font-size: calc(var(--font-size-base)*1.2);
          color: color(var(--color-links) tint(20%));
        } /* a:any-link */
      }/* viewport-small */

      @media (--viewport-large) {
        font-size: calc(var(--font-size-base)*1.2);
        line-height: calc(var(--line-height-base)*1.1);

        & a:any-link {
          font-size: calc(var(--font-size-base)*1.7);
        } /* a:any-link */
      }/* viewport-large */

    }/* header-info-text */
  } /* header-info */
} /* header */