.st0{fill:url(#SVGID_1_);}
.st1{fill:url(#SVGID_2_);}
.st2{fill:url(#SVGID_3_);}
.st3{fill:url(#SVGID_4_);}
.st4{fill:url(#SVGID_5_);}
.st5{fill:url(#SVGID_6_);}
.st6{fill:url(#SVGID_7_);stroke:#4D4D4D;}
.st7{fill:url(#SVGID_8_);}
.st8{fill:url(#SVGID_9_);}
.st9{opacity:0.86;fill:url(#SVGID_10_);enable-background:new;}
.st10{fill:#FFFFFF;}
.st11{fill:url(#SVGID_11_);}
.st12{fill:url(#SVGID_12_);}
.st13{display:none;}
.st14{display:inline;fill:url(#SVGID_13_);}
.st15{fill:url(#SVGID_14_);}
.st16{opacity:0.86;fill:url(#SVGID_15_);enable-background:new    ;}
.st17{fill:url(#SVGID_16_);}
.st18{opacity:0.86;fill:url(#SVGID_17_);enable-background:new    ;}
.st19{opacity:0.86;fill:url(#SVGID_18_);enable-background:new    ;}
.st20{clip-path:url(#SVGID_21_);}
.st21{fill:none;}
.logocolor{fill:var(--color-navigation-links);}
